.App {
  text-align: center;
  margin-top: 36px;
  background-color: white;
}

.logo {
  height: 62px;
}

.programme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 580px;
  margin: 0 auto;
  border-bottom: #e5e5e5 1px solid;
  margin-top: 40px;
  padding-bottom: 19px;
}
.time {
  margin-right: 30px;
}

.programme img {
  margin-right: 12px;
}

.infos {
  text-align: left;
}
.infos p {
  font-size: 15px;
  font-weight: bold;
}
.type {
  font-size: 12px;
}
.duration {
  font-size: 15px;
  font-weight: bold;
}
.infos > div span {
  margin-right: 20px;
}

.infos > div span:last-child {
  color: red;
}
